body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #1e3a8a, #9333ea);
    color: white;
}

/* START PAGE */
.start-box {
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 10px;
    width: 200px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* QUIZ BOX */
.quiz-box {
    background: white;
    color: black;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#options button {
    display: block;
    width: 100%;
    margin: 8px 0;
    background: #e5e7eb;
}

.correct {
    background: green !important;
    color: white;
}

.wrong {
    background: red !important;
    color: white;
}

#nextBtn {
    background: #2563eb;
    color: white;
}

/* LEADERBOARD */
.leaderboard {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}
